.rocket-details {
  text-align: start;

  padding: 10px;
  border: 1px lightgrey solid
}

.title {
  color: black;
  font-size: 18px;
}

.description {
  color: rgb(107, 107, 107);
  font-size: 14px;
}